@@include('shared/_head.html', {
    "body_classes": ""
})

<!-- HTML start -->

@@include('partials/_partial-1.html')

<section class="dms-band">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                <h2>Content</h2>

                <p>Climb leg chew iPad power cord nap all day, for claw drapes. Need to chase tail shake treat bag. Intently sniff hand make muffins for hide when guests come over and intrigued by the shower under the bed use lap as chair.</p>

                <a class="btn btn-primary mt-1" href="#" title="INSERT TEXT">Button</a>
            </div>

            @@include('partials/_partial-2.html')
        </div>
    </div>
</section>

@@include('partials/_partial-3.html')

<!-- HTML end -->

@@include('shared/_foot.html')