/* ============================== */
/*  SETTINGS
/* ============================== */

// This overrides Bootstrap's variable defaults.
@import "partials/vars-bootstrap";

// These import all of Bootstrap's required files.
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Additional custom functions and mixins.
@import "partials/functions";
@import "partials/mixins";

// These colors are removed from variables because they're not used.
$colors: map-remove($colors, "indigo", "purple", "orange", "pink", "yellow");

$theme-colors: map-remove($theme-colors, "secondary", "success", "info", "warning", "danger", "light", "dark", "blue-light", "blue-dark", "teal-dark");

// Additional custom variables.
@import "partials/vars";

$enable-gradients: false;
$enable-shadows: false;

.at {
    *,
    ::before,
    ::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }


/* ============================== */
/*  BOOTSTRAP COMPONENTS
/* ============================== */

    @import "node_modules/bootstrap/scss/type";
    @import "node_modules/bootstrap/scss/images";
    @import "node_modules/bootstrap/scss/grid";
    @import "node_modules/bootstrap/scss/utilities/background";
    @import "node_modules/bootstrap/scss/utilities/borders";
    @import "node_modules/bootstrap/scss/utilities/display";
    @import "node_modules/bootstrap/scss/utilities/flex";
    @import "node_modules/bootstrap/scss/utilities/overflow";
    @import "node_modules/bootstrap/scss/utilities/position";
    @import "node_modules/bootstrap/scss/utilities/shadows";
    @import "node_modules/bootstrap/scss/utilities/sizing";
    @import "node_modules/bootstrap/scss/utilities/spacing";
    @import "node_modules/bootstrap/scss/utilities/text";
    @import "node_modules/bootstrap/scss/utilities/visibility";


/* ============================== */
/*  ADOBE TARGET - STUDIO-WEB INCLUDES
/* ============================== */

    $type_ns: ".at";

    @import "partials/backgrounds";
    @import "partials/borders";
    @import "partials/layout";
    @import "partials/type";
}