$grid-breakpoints: (
    xs: 0,
    //sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "partials/mixins/grid";

$gutter: 30px;
$max-cell: 12;


/* ============================================================ */
/*  Create a series of .grid-NxN classes
 *
 *  Example use:
 *
 *  <div class="container">
 *      <div class="grid grid-12x12">
 *          ...
 *      </div>
 *  </div>
/* ============================================================ */

@include make-grids('',1,$max-cell);

@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @include make-grids($infix,1,$max-cell);
    }
}


/* ============================================================ */
/*  Create a series of cell size & position classes
 *  as well as $infix (breakpoint) versions
 *
 *  cell-row-1
 *  cell-col-1
 *  cell-width-4
 *  cell-height-12
 *  ...
 *  cell-row-md-4
 *  cell-col-lg-8
 *  etc...
/* ============================================================ */

@include make-grid-cells('');

@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @include make-grid-cells($infix,1,$max-cell);
    }
}

.grid {
    display: -ms-grid;
    display: grid;
    grid-gap: $gutter;


    /* ============================================================ */
    /*  Additional grid util classes
     *
     *  Note that grid auto flow doesn't work in IE or Edge < 16
    /* ============================================================ */
    
    &.grid-gutter-0{
        grid-gap: 0;
    }

    &.auto-flow-row{
        grid-auto-flow: row !important;
    }

    &.auto-flow-col{
        grid-auto-flow: column !important;
    }

    &.auto-flow-dense{
        grid-auto-flow: dense !important;
    }

    &.auto-flow-row-dense{
        grid-auto-flow: row dense !important;
    }

    &.auto-flow-col-dense{
        grid-auto-flow: column dense !important;
    }
}