/* ============================== */
/*  SETTINGS
/* ============================== */

// import redhat theme css vars
// will need to be re-added to package.json if we want to pull this in:
// 5/19/20 - currently not able to import due to var naming conflict with bootstrap
// @import "node_modules/@redhat/redhat-theme/src/functions/functions";
// @import "node_modules/@redhat/redhat-theme/src/maps/typography";
// @import "node_modules/@redhat/redhat-theme/src/extends/typography";

// This overrides Bootstrap's variable defaults.
@import "partials/vars-bootstrap";

// These import all of Bootstrap's required files.
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Additional custom functions and mixins.
@import "partials/functions";
@import "partials/mixins";

// These colors are removed from variables because they're not used.
$colors: map-remove($colors, "indigo", "purple", "orange", "pink", "yellow");

$theme-colors: map-remove($theme-colors, "success", "info", "warning", "danger", "light", "dark");

// Additional custom variables.
@import "partials/vars";


/* ============================== */
/*  BOOTSTRAP COMPONENTS
/* ============================== */

// @import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";


/* ============================== */
/*  STUDIO WEB - WEBDMS INCLUDES
/* ============================== */

$type_ns: ".dms-band";

@import "partials/accordion";
@import "partials/animations";
@import "partials/backgrounds";
@import "partials/blockquote";
@import "partials/borders";
@import "partials/buttons";
@import "partials/card";
@import "partials/common";
@import "partials/layout";
@import "partials/list-group";
@import "partials/nav";
@import "partials/rh-fixes";
@import "partials/type";
@import "partials/video";