<section class="dms-band pt-0">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Footer</h2>

                    <p class="mb-0">Run in circles run in circles yet all of a sudden go crazy give attitude stare at ceiling behind the couch. Hopped up on goofballs. Give attitude cat snacks so destroy couch for make muffins.</p>
                </div>
            </div>
        </div>
    </footer>
</section>