<div class="col-12 col-lg-6 offset-lg-1">
    <div class="card bg-gray-300">
        <div class="card-body">
            <h3>Card</h3>

            <hr class="sm x2 border-red">

            <p><strong>Chase mice. Make muffins destroy couch play time run around fall asleep.</strong></p>

            <p>Stare at ceiling. Sweet beast intrigued by the shower, and shake treat bag chase mice yet claw drapes and carpet.</p>
        </div>
    </div>
</div>