<section class="dms-band pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <header>
                    <h2>Headers</h2>

                    <a href="#" title="INSERT TEXT">
                        <img src="//placehold.it/180x60?text=Cat Logo" alt="Logo">
                    </a>
                </header>
            </div>

            <div class="col-12 col-lg-6">
                <nav class="navigation">
                    <h2>Navigation</h2>

                    <ul>
                        <li>
                            <a href="#" title="INSERT TEXT">Purr</a>
                        </li>

                        <li>
                            <a href="#" title="INSERT TEXT">Meow</a>
                        </li>

                        <li>
                            <a href="#" title="INSERT TEXT">Clean</a>
                        </li>

                        <li>
                            <a href="#" title="INSERT TEXT">Nap</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>