/* ============================== */
/*  SETTINGS
/* ============================== */

@import "../../../../assets/scss/partials/vars-bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../../../assets/scss/partials/functions";
@import "../../../../assets/scss/partials/mixins";
@import "../../../../assets/scss/partials/vars";


/* ============================== */
/*  PROJECT
/* ============================== */
$stacie-green: #7fa771;
$scott-blue:#6b7997;
body {
    font-family: 'Libre Baskerville', serif;
    background-color: $scott-blue;
}
section {
    background-color:$white;
}
a {
    color:$stacie-green;
}
h2 {
    letter-spacing: 4px;
}
::-moz-selection {
  color:$white;
  background: $scott-blue;
}
  
::selection {
  color:$white;
  background: $scott-blue;
}
blockquote {
    &:after {
        content: "“" !important;
        font-size: 72px;
        top:-10px;
        left:-8px;
    }
}
.divider {
    img {
        position: absolute;
        z-index: 0;
        &.divider-01 {
            left:0;
        }
        &.divider-02 {
            right:0;
        }
    }
}
.rsvp-form {
    text-align: left;
    .minus-btn, .plus-btn {
        width: 14px !important;
        height: 14px !important;

        &:after {
            transform: translate(2px,5px);
        }
    }
    .plus-btn {
        &:before {
            transform:rotate(90deg)translate(5px, -2px);

        }
    }
}
code {
    border:1px solid black;
    background-color:#f2f3f4;
    padding:5px;
    border-radius: 4px;
}
.footer p {
    color:$scott-blue;
}