@@include('shared/_head.html', {
    "body_classes": ""
})

<section class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center pb-4">
                <img class="img-fluid" src="../../assets/img/csasf-header.jpg" alt="Celebrating Scott & Stacie forever">
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-7 mx-auto">
                <p>Together with their families, Scott Day and Stacie Leonardo invite you to celebrate their wedding. Their journey began in 7th grade and grew into a best friendship that lasted through high school and beyond. Distance kept them apart for some time, but they eventually found each other again and started to build on that friendship until they saw with clarity what could not be denied. Come celebrate their love with food, dancing, and merriment. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-6 mx-auto px-4">
                <blockquote class="quote-black">
                    <p>And the people came together and the people came to dance and they danced like a wave upon the sea."</p>
                    <footer>
                        <cite>-William Butler Yeats</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section class="pt-8 mt-n8">
    <img src="../../assets/img/divider-01.png" class="divider divider-01 mt-n8">
</section>
<section class="pb-8">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-7 mx-auto text-center">
                <h2>RSVP</h2>
                <p>Please fill out the form below.</p>
                <rsvp-form></rsvp-form>
                <p class="pt-4 text-left small">*Although we love your children, we regretfully cannot accommodate them at the venue due to restricted numbers.</p>
            </div>
        </div>
    </div>
</section>
<section class="pb-8">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-7 mx-auto text-center">
                <h2 class="text-uppercase">Directions</h2>
                <p>The ceremony and reception will take place at Mims House on<br class="d-none d-md-block">August 28th 2021, and will begin at 5 o'clock in the afternoon.</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.0432929725466!2d-78.83718904866872!3d35.65130498010407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac8e017a37c14d%3A0x8b1557ffbb6817a!2sLeslie-Alford-Mims%20House!5e0!3m2!1sen!2sus!4v1614355699174!5m2!1sen!2sus" width="100%" height="450" class="mx-auto d-block" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="pb-6">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-7 mx-auto">
                <h2 class="text-uppercase text-center">Hotel info</h2>
                <p>We have reserved a block of rooms at the Hampton Inn &amp; Suites Holly Springs. If you book anytime before August 9th, you'll be able to take advantage of the discounted block of rooms. This block of rooms are reserved for an arrival date of August 26th and a departure date of August 30th.</p>
                <p>You can call 1-800-445-8667 and use group code: <code>DLW</code> or use the link below:</p>
                <p class="text-center"><a href="https://www.hilton.com/en/book/reservation/deeplink/?&ctyhocn=RDUHSHX&groupCode=CHHDLW&arrival=20210826&departure=20210830&cid=OM,WW,HILTONLINK,en,DirectLink&fromId=HILTONLINKDIRECT" target="_blank" class="btn btn-outline-black">Book now</a></p>
            </div>
        </div>
    </div>
</section>
<section class="py-8 mt-n8 divider">
    <img src="../../assets/img/divider-02.png" class="divider-02 mt-n8">
</section>

<section class="pt-10 pb-8">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-7 mx-auto">
                <h2 class="text-uppercase text-center">Registry &amp; Gifts</h2>
                <p>Scott and Stacie ask that, in lieu of gifts from a registry, donations may be sent towards their future home together and their honeymoon.</p>
                <img src="../../assets/img/fpo-paybuttons.png" class="mx-auto d-block">

            </div>
        </div>
    </div>
</section>
<section class="text-center">
    <img src="../../assets/img/divider-03.png" class="divider-03">
</section>
<section class="py-8">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-7 mx-auto text-center">
                <h2 class="text-uppercase">Questions</h2>
                <p>More information and inquiries may be sent to <a href="mailto:sday85@gmail.com">sday85@gmail.com</a>. </p>
            </div>
        </div>
    </div>
</section>
<section class="footer py-0">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-7 mx-auto text-center">
                <p class="mb-0">2021</p>
            </div>
        </div>
    </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
height="154.3px" viewBox="0 0 1920 154" style="width:100%;" preserveAspectRatio="none">
<style type="text/css">
.st0{fill:#6B7997;width:100%;}
</style>
<polygon class="st0" points="0,154.3 1920,154.3 1920,0 0,77.2 "/>
</svg>
</section>

@@include('shared/_foot.html')