<!-- SCRIPTS start -->

        <!-- Red Hat -->
        <script src="//www.redhat.com/sites/all/libraries/webrh/dist/js/webrh.webcomponents.js"></script>

        <!-- Vendors -->
        <!-- <script src="../../assets/js/vendors/jquery.waypoints.js"></script> -->
        <!-- <script src="../../assets/js/vendors/viewport.js"></script> -->
        <!-- <script src="../../assets/js/vendors/slick.js"></script> -->

        <!-- Studio Web -->
        <script src="../../assets/js/scripts.js"></script>

        <!-- Project -->
        <script src="../../assets/js/projects/example.js"></script>

<!-- SCRIPTS end -->

    </body>
</html>