<!-- SCRIPTS start -->
        <script src="../../assets/js/scripts.js"></script>
        <script src="../../assets/js/projects/jquery.serialize-object.min.js"></script>

        <!-- Project -->
        <script src="../../assets/js/projects/sasf.js"></script>
        <script src="../../assets/js/projects/rsvp-form.js"></script>

</script>
<!-- SCRIPTS end -->
    </body>
</html>