.accordion{
	overflow: hidden;
	padding-bottom: 7px;
	
    .accordion-toggle{
		width: 100%;
		position: relative;
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        padding: 10px 40px 10px 30px;
		border-top: 1px solid $gray-200;
		border-right: 1px solid $gray-200;
		border-bottom: 0px;
		border-left: 3px solid $blue;
		background-color: $white;
		
		& > *{
			margin: 0px;
		}
		
        &:after{
            content: "";
			position: absolute;
			top: calc(50% - 4px);
			display: block;
			border-style: var(--pfe-theme--surface--border-style, solid);
			height: 8px;
			width: 8px;
			text-align: center;
			transition: transform 0.15s;
			border-width: 2px 2px 0 0;
			border-bottom: 0;
			transform: rotate(-45deg);
			right: 30px;
		}
		
		&.collapsed{
			background-color: transparent;
			border-left: 3px solid transparent;
			border-bottom: 1px solid $gray-200;
			border-right: 1px solid transparent;
			
			&:after{
				transform: rotate(135deg);
			}
		}
		
		&:hover {
			border-left: 3px solid $blue;
		}
        
        &:focus {
            text-decoration: underline;
        }
    }
	
	.accordion-panel{
		border-left: 3px solid $blue;
		padding: 0px 30px;
		&.collapsing.showing,
		&.show{
			border-right: 1px solid $gray-200;
			border-bottom: 1px solid $gray-200;
			background-color: $white;
			box-shadow: 0 5px 3px rgba(140, 140, 140, 0.35);
            display: inherit;

		}
	}
}