/* ============================== */
/*  SCROLL & REVEAL
/* ============================== */

.reveal {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 1s, transform 1s;

    &_visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}