/* ========================================================================================== */
/*  This file should not contain ANY background images or colors for specific elements. It
/*  should create a set of commonly used backgrounds ONLY.
/*
/*  Examples:
/*  "red-dark": 					$red-dark,					== .bg-red-dark
/*  "cyan": 						$cyan,						== .bg-cyan
/*
/*  NOTE: Every color listed in "$theme-colors" (_vars-bootstrap.scss) will get a ".bg-{color}"
/*  class created for it.
/*
/*  Refer to "node_modules/bootstrap/scss/mixins/_gradients.scss" for gradient mixins.
/* ========================================================================================== */

/* ============================== */
/*  BACKGROUND COLOR
/* ============================== */

.bg {
    &-black {
        &-gradient {
            @include gradient-y($black, $gray-600);

            &-90 {
                @include gradient-x($black, $gray-600, 40%, 100%);
            }

            &-180 {
                @include gradient-y($gray-600, $black);
            }

            &-270 {
                @include gradient-x($gray-600, $black, 0%, 60%);
            }
        }
    }

    &-red {
        &-angle {
            background-color: $red;
            background-image: linear-gradient(-45deg, $red-dark 50%, $red 50%);

            &-50 {
                @extend .bg-red-angle;

                background-size: 100% 50%;
            }
        }

        &-gradient {
            @include gradient-y($red-dark, $red);

            &-90 {
                @include gradient-x($red-dark, $red, 40%, 100%);
            }

            &-180 {
                @include gradient-y($red, $red-dark);
            }

            &-270 {
                @include gradient-x($red, $red-dark, 0%, 60%);
            }
        }
    }

    &-teal {
        &-gradient {
            @include gradient-y($teal-dark, $teal);

            &-90 {
                @include gradient-x($teal-dark, $teal, 40%, 100%);
            }

            &-180 {
                @include gradient-y($teal, $teal-dark);
            }

            &-270 {
                @include gradient-x($teal, $teal-dark, 0%, 60%);
            }
        }
    }

    &-gray-200 {
        &-gradient {
            @include gradient-y($gray-200, transparent);

            &-90 {
                @include gradient-x($gray-200, transparent, 40%, 100%);
            }

            &-180 {
                @include gradient-y(transparent, $gray-200);
            }

            &-270 {
                @include gradient-x(transparent, $gray-200, 0%, 60%);
            }
        }
    }

    &-transparent {
        background-color: transparent !important;
    }
}


/* ============================================== */
/*  HALF WHITE / HALF COLOR BACKGROUND
/* ============================================== */

@each $color, $value in $theme-colors {
	.bg-#{$color}-half {
		background: linear-gradient(0deg, $value 50%, transparent 50%);
	}
}

/* ============================== */
/*  BACKGROUND OPACITY
/* ============================== */

/* ========================================================================================== */
/*  Creates a semi-opaque background for each theme color.
/* ========================================================================================== */

@each $color, $value in $theme-colors {
    [class^="bg-#{$color}-film-"],
    [class*=" bg-#{$color}-film-"] {
        transition: background-color 0.5s ease;
    }

    .bg-#{$color}-film {
        &-10 {
            background-color: rgba($value, 0.1);
        }

        &-20 {
            background-color: rgba($value, 0.2);
        }

        &-30 {
            background-color: rgba($value, 0.3);
        }

        &-40 {
            background-color: rgba($value, 0.4);
        }

        &-50 {
            background-color: rgba($value, 0.5);
        }

        &-60 {
            background-color: rgba($value, 0.6);
        }

        &-70 {
            background-color: rgba($value, 0.7);
        }

        &-80 {
            background-color: rgba($value, 0.8);
        }

        &-90 {
            background-color: rgba($value, 0.9);
        }
    }
}


/* ============================== */
/*  BACKGROUND POSITION
/* ============================== */

[class^="bg-pos-"],
[class*=" bg-pos-"] {
    background-size: auto !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .bg-pos#{$infix}{
            &-cc {
                background-position: center center !important;
            }

            &-ct {
                background-position: center top !important;
            }

            &-rc {
                background-position: right center !important;
            }

            &-cb {
                background-position: center bottom !important;
            }

            &-lc {
                background-position: left center !important;
            }

            &-rt {
                background-position: right top !important;
            }

            &-lt {
                background-position: left top !important;
            }

            &-rb {
                background-position: right bottom !important;
            }

            &-lb {
                background-position: left bottom !important;
            }
        }
    }
}


/* ============================== */
/*  BACKGROUND REPEAT
/* ============================== */

.bg {
    &-no-repeat {
        background-repeat: no-repeat !important;
    }

    &-repeat {
        background-repeat: repeat !important;

        &-x {
            background-repeat: repeat-x !important;
        }

        &-y {
            background-repeat: repeat-y !important;
        }
    }
}


/* ============================== */
/*  BACKGROUND SIZE
/* ============================== */

.bg {
    &-size {
        &-auto {
            background-size: auto !important;
        }

        &-contain {
            background-size: contain !important;
        }

        &-cover {
            background-size: cover !important;
        }
    }
}