/* ========================================================================================== */
/*  Basic blockquote html should be formatted as
    <blockquote class="quote-red text-white etc">
        <p>Innovation is what removes barriers and opens new horizons.</p>
        <footer>
            <cite><strong>Olaf Schnapauff</strong>, CTO, Global Operations</cite>
            <p><img class="img-fluid" src="image.svg" data-alt-text="INSERT TEXT"></p>
        </footer>
    </blockquote>

    For left aligned logos, use
    <footer class="flex-row-reverse">
    
    * Namespace variable is not req'd here (as in _type.scss), as blockquote styles
    are currently unnecessary in at.css
    
/* ========================================================================================== */

$quote-colors: red red-dark gray gray-dark cyan teal white black slate;

    blockquote {
        position: relative;
        padding-left: 30px;
        line-height: 1.5;
    
        &:after{
            $default_color: str-replace(quote($red),"#","%23");
            content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='" +  $default_color + "' /></svg>");
            display: inline-block;
            width: 25px;
            height: 20px;
            position: absolute;
            top: 3px;
            left: 0px;
        }
    
        @each $color, $value in $theme-colors {
            @at-root &.quote-#{$color}:after {
                $_value: str-replace(quote($value),'#','%23');
                content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='14.2' viewBox='0 0 20 14.2'><path d='M4.4,5.2H1.4c0.3-2.3,2.2-4,4.5-4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0C6.5,0.3,6.2,0,5.9,0c0,0,0,0,0,0C2.6,0,0,2.6,0,5.9 v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6V9.7C8.9,7.3,6.9,5.3,4.4,5.2z M15.5,5.2h-3.1c0.3-2.3,2.2-4,4.5-4 c0.4,0,0.7-0.2,0.7-0.6S17.4,0,17.1,0C17,0,17,0,17,0c-3.2,0-5.9,2.6-5.9,5.9v7.6c0,0.4,0.3,0.6,0.6,0.6h7.6c0.4,0,0.6-0.3,0.6-0.6 V9.7C20,7.3,18,5.3,15.5,5.2z' fill='" + $_value + "' /></svg>");
            }
        }
    
        &.quote-none {
            padding-left: 0px;
    
            &:after {
                content: " ";
            }
        }
    
        &.quote-top {
            padding-left: 0px;
            padding-top: 30px;
        }
    
        p {
            font-size: $font-size-px-base * 1.25;
            font-size: var(--pfe-theme--font-size--delta, $font-size-px-base * 1.25);  // 20px, no change from mobile
        }
    
        footer {
            display: flex;
            padding-top: 10px;
            flex-direction: column;
    
            cite {
                font-size: $small-font-size;
                font-size: var(--pfe-theme--font-size--default-xs, $small-font-size); // 14px
    
                margin-bottom: 16px;
                font-style: normal;
    
                flex-grow: 1;
            }
        }
    }
