.btn {
    font-family: $headings-font-family;
    font-size: $font-size-px-base !important;
    margin-bottom: 5px;
    padding: $btn-padding-y $btn-padding-x;
    white-space: normal;
    transition: all 300ms cubic-bezier(0.5, 0, 0.5, 1) !important;
    position: relative;

    &:focus,
    &.focus {
        box-shadow: none;
    }

    /* =============================================================================== */
    /*  specific button styles to match design system
    /* =============================================================================== */

    &.btn-primary:focus:before,
    &.btn-secondary:focus:before {
        @include focus-border($white);
    }

    &.btn-white:focus:before {
        @include focus-border($gray-900);
    }

    // focus states for all outline btns
    @each $color, $value in $theme-colors {
        &.btn-outline-#{$color}:active:focus,
        &.btn-outline-#{$color}:focus{
            background: rgba($value,.08);
            color: $value;

            &:before{
                @include focus-border($value);
            }
        }
    }

    &.btn-link {
        padding: 3px 0px !important;
        margin-top: 0;
        text-align: left;
        white-space: normal !important;
        text-transform: none !important;
        font-weight: 700;
        font-size: $font-size-px-base * 1.125 !important;; // 18px

		&:after{
            $_blue: str-replace(quote($blue),'#','%23');
            content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='15' width='15' viewBox='0 0 32 32'><path d='M15.78 0l-3.1 3.1 10.5 10.49H0v4.38h23.18l-10.5 10.49 3.1 3.1 15.78-15.78L15.78 0z' fill='" + $_blue + "' /></svg>");
            margin-left: 6px;
            margin-right: 2px;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-bottom: -1px;
            transition: all 300ms cubic-bezier(0.5, 0, 0.5, 1) !important;
		}
        &:hover {
            text-decoration: none;
        }
        &:hover:after {
            filter: brightness(75%);
        }

        @each $color, $value in $theme-colors {
            @at-root &.text-#{$color}:after {
                $_value: str-replace(quote($value),'#','%23');
                content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='15' width='15' viewBox='0 0 32 32'><path d='M15.78 0l-3.1 3.1 10.5 10.49H0v4.38h23.18l-10.5 10.49 3.1 3.1 15.78-15.78L15.78 0z' fill='" + $_value + "' /></svg>");
            }

            @at-root &.text-#{$color}:hover:after {
                filter: brightness(75%);
            }
        }

        &:hover:after {
            margin-left: 8px;
            margin-right: 0px;
        }

        &.btn-link:focus {
            background: lighten($blue, 55%);
            background: rgba(0,102,204,0.1);
        }
    }
    
    &.btn-brick {
        border: 1px solid $gray-400;
        color: $blue;
        font-weight: $font-weight-light;
        font-family: $font-family-sans-serif;
        
        &:hover{
            color: $blue-dark;
            text-decoration: underline;
            background-color: $gray-200;
        }
        
        &:active:focus,
        &:focus{
            background-color: $gray-200;
            
            &:before{
                @include focus-border($gray-400);
            }
        }
    }

    &.btn-icon {
        @extend .pl-8;

        position: relative;
        font-weight: 700;
        text-align: left;

        &:before {
            @extend .pl-2;

            @include font-sizing(56);

            position: absolute;
            top: 0;
            left: 0;
        }

        sup {
            @include font-sizing(8);
        }
    }

    > *[class*="fa-"]:last-child {
        padding-left: 5px;
    }

    @media (min-width: breakpoint-min(md)) {
        margin-bottom: 0;
    }
}

.dms-band .cta-group {
    margin: 30px 0 0;

    @media (min-width: breakpoint-min(md)) {
        .btn {
            margin-bottom: 10px;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}