.card {
    margin-bottom: $card-bottom-margin;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // this causes fixed items to remain inside their parent containers
    // for use with nested .fixed-bottom elements...
    // but we should be using .card-footer for that as much as possible
    transform: translateZ(0);

    flex: initial;
    @media (min-width: breakpoint-min(md)) {
        flex: 1 1 0;
        margin-bottom: 0px;

        .card-deck > & {
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    // if the card is a direct descendent of a column, make it full-width
    [class*="col-"] > & {
        min-width: 100%;
    }

    ul {
        padding-left: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    & .card-header,
    & .card-body,
    & .card-footer {
        & > *:last-child{
            margin-bottom: 0px;
        }
    }

    // IE11 fix
    .img-fluid {
        min-height: 1px;
    }

    @at-root a#{&}{
        &:hover {
            cursor: pointer;
        }
    }

    &.card-vslide {
        cursor: pointer;

        .card-header {
            position: absolute;
            bottom: 0;
            width: 100%;
            transition: all 500ms ease-in-out;
        }

        .card-body {
            transition: all 500ms ease-in-out;
            transform: translateY(100%);
        }

        &.active {
            .card-header {
                transform: translateY(100%);
            }

            .card-body {
                transform: translateY(0);
            }
        }
    }
    &.card-half-slide{
        background-size: auto 50%;
        padding-top: 85%;
        padding-bottom: 30px;
        background-color: $white;
        background-position: center top;
        transition: all 300ms $transition-bezier;
        justify-content: flex-end;

        @media (min-width: breakpoint-min(md)) {
            background-size: auto 101%;
        }


        .card-header{
            transition: all 300ms $transition-bezier;
            position: absolute;
            width: 100%;
            opacity: 0;

            @media (min-width: breakpoint-min(md)) {
                opacity: 1;
            }
        }

        .card-body{
            transition: all 300ms $transition-bezier;
            opacity: 1;
            background-color: $white;
            flex-grow: 0;

            @media (min-width: breakpoint-min(md)) {
                display: block;
                opacity: 0;
            }
        }

        &.active{
            @media (min-width: breakpoint-min(md)) {
                transform: scale(1.075);
                z-index: 2;
            }
        }

        &.active:hover,
        &:hover{
            background-size: auto 50%;
            transform: scale(1.1);

            .card-header{
                opacity: 0;
            }

            .card-body{
                display: block;
                opacity: 1;
            }
        }
    }

    //
    &-bg-hover {
        background-size: 0 0 !important;

        &:hover {
            @media (min-width: breakpoint-min(lg)) {
                background-size: auto !important;
            }

            .card {
                @media (min-width: breakpoint-min(lg)) {
                    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
                }
            }
        }

        .card {
            @media (min-width: breakpoint-min(lg)) {
                transition: all 0.25s;
            }
        }
    }
}
