input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a:active,
a:focus,
a:not([href]):focus {
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: 1px;
    outline-color: #06c;
}

@each $color, $value in $theme-colors {
    a.text-#{$color}:focus {
        outline-color: $value;
    }
}


svg.svg {
    max-width: 100%;
    height: auto;

    @each $color, $value in $theme-colors {
        &.svg-#{$color} {
            circle,
            ellipse,
            path,
            polygon,
            rect {
                fill: $value !important;
            }
        }
    }
}