/* =============================================================================== */
/*
 *  .dms-band class is typically applied to a <section> tag whose immediate
 *  descendent is div.container > div.row > etc
 *
/* =============================================================================== */

.dms-band {
    padding: 40px 0;

    @media (min-width: breakpoint-min(md)) {
        padding: 80px 0;
    }
}

.container {
    transition: max-width 500ms ease;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.row.min-gutters {
    margin-right: -5px;
    margin-left: -5px;

    & [class*='col'] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

// not putting this in _nav.scss, as it could be applied to non-nav
.sticky {
    position: fixed;
    z-index: $zindex-sticky;
    top: 0;
    width: 100%;
}

// not sure why this isn't in BS4 by default
.overflow-visible {
    overflow: visible !important;
}

.content-vertical-rules .row > div {
    border-bottom: 1px solid $gray-300;

    @include media-breakpoint-only(md) {
        margin-bottom: 60px;
        border-right: 1px solid $gray-300;
        border-bottom: none;

        &:nth-child(even) {
            border-right: none;
        }
    }
    @include media-breakpoint-up(lg) {
        border-right: 1px solid $gray-300;
        border-bottom: none;

        &:nth-child(3n) {
            border-right: none;
        }

        &:nth-child(-n+3) {
            margin-bottom: 60px;
        }
    }
}

// position utility classes
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .position#{$infix}-absolute {
            position: absolute !important;
        }

        .position#{$infix}-fixed {
            position: fixed !important;
        }

        .position#{$infix}-relative {
            position: relative !important;
        }

        .position#{$infix}-sticky {
            position: sticky !important;
        }
    }
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

/* =============================================================================== *
 *  create a series of z-index util classes, similar to spacers in name
 *  10-based, use as z-0, z-1, z-2
 *  z-index utils do not exceed $zindex-modal-backdrop (97)
/* =============================================================================== */

$z-indexes: (0,1,2,3,4,5,6,7,8,9);
@each $z in $z-indexes{
    .z-#{$z}{
        z-index: $z * 10;
    }
}