.list-group {
    &.list-group-flush{
        .list-group-item{
            padding-left: 0px;
            padding-right: 0px;
            
            &:first-child {
                border-top: 0px;
            }
        }
    }
        
    @at-root .card &{
        padding-left: 0px;
    
        li {
            margin-bottom: -1px;
        }
    }
}

