.nav-tabs {
    flex-direction: column;

    @media (min-width: breakpoint-min(md)) {
        flex-direction: row;
    }

    .nav-item {
        margin-bottom: 0;
    }

    a.nav-link {
        font-size: $font-size-px-base;
        margin: 0 5px;
        padding: 15px 5px;
        color: $gray-500;
        border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
        border-radius: 0;

        &:hover,
        &:focus,
        &:hover:focus {
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom: 4px solid $nav-tabs-link-hover-border-color;
            border-left-color: transparent;
        }

        &:focus,
        &:hover:focus {
            outline-color: #d2d3d4;
        }

        &.active,
        &.active:hover {
            color: $gray-900;
            color: $black;
            border: 0;
            border-bottom: 4px solid $nav-tabs-link-active-border-color;
        }

        @media (min-width: breakpoint-min(md)) {
            padding: 15px 25px;
            border: 0;
        }
    }

    &.nav-inverted {
        border: 0;
        border-top: 1px solid $gray-300;

        a.nav-link {
            border: 0;
            border-top: 4px solid transparent;

            &:hover,
            &:focus,
            &:hover:focus {
                border: 0;
                border-top: 4px solid $gray-400;
            }

            &:focus,
            &:hover:focus {
                outline-color: #d2d3d4;
            }

            &.active,
            &.active:hover {
                border: 0;
                border-top: 4px solid $red;
            }
        }
    }

    &.nav-stacked {
        flex-direction: column;
        border-bottom: 0;

        @media (min-width: breakpoint-min(md)) {
            .nav-item {
                border-right: 1px solid $gray-300;
            }

            a.nav-link {
                margin: 0;
                border: 0;
                border-right: 4px solid transparent;

                &:hover,
                &:focus,
                &:hover:focus {
                    border: 0;
                    border-right: 4px solid $gray-400;
                }

                &:focus,
                &:hover:focus {
                    outline-color: #d2d3d4;
                }

                &.active,
                &.active:hover {
                    border: 0;
                    border-right: 4px solid $red;
                }
            }
        }
    }
}

.page-subnav {
    justify-content: center;

    a {
        font-size: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
        text-transform: uppercase;
        color: $black;
        border-right: 1px solid $black;

        &:last-child {
            border: 0;
        }
    }
}

.nav.nav-social {
    .nav-link {
        font-size: $font-size-px-base;
        width: 38px;
        height: 36px;
        margin-right: 5px;
        color: $white;
        border: 1px solid $black;
        border-radius: 50%;
        background: $black;
        padding: 5px 10px;

        &:hover {
            color: $black;
            background: transparent;;
        }
    }
}