/* ========================================================================================== */
/*  pfe-navigation (nav 2.0) fixes
/* ========================================================================================== */

pfe-navigation-main [slot=trigger],
pfe-navigation-item [slot=trigger],
pfe-navigation-main [slot=trigger]>a,
pfe-navigation-main .pfe-link-list--header{
    font-family: $font-family-sans-serif;    
}

/* ========================================================================================== */
/*  "#second-menu .container" on is setting width: 100% not not overriding bootstrap's max-width
/* ========================================================================================== */

#main-menu {
    .container {

        @media (min-width: breakpoint-min(md)) {
            width: 100%;
            max-width: 100%;
        }

        @media (min-width: breakpoint-min(lg)) {
            
        }

        @media (min-width: breakpoint-min(xl)) {
            width: 1140px;
        }
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.rc-footer-menu {
    .container {
        padding-left: 0px;
        padding-right: 0px;

        @media (min-width: breakpoint-min(md)) {
            width: 708px;
        }
        
        @media (min-width: breakpoint-min(lg)) {
            width: 932px;
        }

        @media (min-width: breakpoint-min(xl)) {
            width: 1140px;
        }
    }

    .row {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    
    h3{
        line-height: 1.1;
    }
}


.rc-footer-traditional{
    .container{
        
        @media (min-width: breakpoint-min(md)) {
            padding-left: 0px;
            padding-right: 0px;
            width: 708px;
        }
        
        @media (min-width: breakpoint-min(lg)) {
            width: 932px;
        }

        @media (min-width: breakpoint-min(xl)) {
            width: 1140px;
        }
    }
    
    .row {
        display: block;
    }
}

.main-subnav {
    .container {
        max-width: 100%;
        padding: 0;
    }
    
    h3{
        margin-bottom: 11px;
        font-family: $font-family-sans-serif;
    }
}

#second-menu{
    .container{
        padding: 0 2rem;
        
        @media (min-width: breakpoint-min(md)) {
            width: 100%;
            max-width: 100%;
        }

        @media (min-width: breakpoint-min(xl)) {
            width: 1140px;
            padding: 0px;
        }
    }
}

/* ========================================================================================== */
/*  fix issue with search submit button alignment
/* ========================================================================================== */

#search-panel .form-item {
    margin-right: 0px !important;
}


/* ========================================================================================== */
/*  fix issues with .row and .container classes in the footer
 *  
 *  .row in BS4 is flex. must adjust for this in the footer,
 *  which is using a .row class, but expecting display: block; up to 991px
/* ========================================================================================== */


.row.rc-footer-menu-items {
    display: block;

    @media (min-width: breakpoint-min(lg)) {
        display: flex;
    }
}


/* ========================================================================================== */
/*  fix issue with BS3 .collapse classes being present in
 *  /profiles/rh/themes/redhatdotcom/css/chrome.css
/* ========================================================================================== */

.collapse {
    display: block;
}