.video {

    &-poster,
    &-poster-replace .poster {
        cursor: pointer;
        position: relative;

        &.play-icon,
        &.play-icon-dark {
            &:before {
                pointer-events: none;
                position: absolute;
                z-index: $zindex-tooltip; // 50
                top: 50%;
                left: 50%;
                width: 72px;
                height: 72px;
                content: ' ';
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background: rgba(255,255,255,0.3);
            }

            &:after {
                pointer-events: none;
                position: absolute;
                z-index: $zindex-popover; // 60
                top: 50%;
                left: 50%;
                width: 24px;
                height: 24px;
                content: ' ';
                transform: translate(calc(-50% + 4px),-50%);
                border-top: 16px transparent solid;
                border-right: 0 transparent solid;
                border-bottom: 15px transparent solid;
                border-left: 28px #fff solid;
            }
        }

        &.play-icon-dark {
            &:before {
                background: rgba(0,0,0,0.5);
            }
        }
    }

    &-poster-replace {
        position: relative;
        display: flex;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;

        .poster{
            position: absolute;
            width: 100%;
        }

        .video-embed {
            transform: translateY(100%);
            background: $gray-900;
        }

        &.video-poster-replaced {
            .poster {
                display: none;
            }

            .video-embed {
                transform: translateY(0);
            }
        }
    }
}