@charset "UTF-8";

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #6b7997;
}

section {
  background-color: #fff;
}

a {
  color: #7fa771;
}

h2 {
  letter-spacing: 4px;
}

::-moz-selection {
  color: #fff;
  background: #6b7997;
}

::selection {
  color: #fff;
  background: #6b7997;
}

blockquote:after {
  content: "“" !important;
  font-size: 72px;
  top: -10px;
  left: -8px;
}

.divider img {
  position: absolute;
  z-index: 0;
}

.divider img.divider-01 {
  left: 0;
}

.divider img.divider-02 {
  right: 0;
}

.rsvp-form {
  text-align: left;
}

.rsvp-form .minus-btn,
.rsvp-form .plus-btn {
  width: 14px !important;
  height: 14px !important;
}

.rsvp-form .minus-btn:after,
.rsvp-form .plus-btn:after {
  -webkit-transform: translate(2px, 5px);
  transform: translate(2px, 5px);
}

.rsvp-form .plus-btn:before {
  -webkit-transform: rotate(90deg) translate(5px, -2px);
  transform: rotate(90deg) translate(5px, -2px);
}

code {
  border: 1px solid black;
  background-color: #f2f3f4;
  padding: 5px;
  border-radius: 4px;
}

.footer p {
  color: #6b7997;
}
/*# sourceMappingURL=sasf.css.map */
