/* ========================================================================================== */
/*  Overrides Bootstrap's background-variant mixin, to remove hover color.
/* ========================================================================================== */

@mixin bg-variant($parent, $color, $ignore-warning: false) {
    #{$parent} {
        background-color: $color !important;
    }


/* ========================================================================================== */
/*  This code was left in for comparison.
/* ========================================================================================== */

    // a#{$parent},
    // button#{$parent} {
    // 	@include hover-focus {
    // 		background-color: darken($color, 50%) !important;
    // 	}
    // }
}